.container {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.controls,
input[type="file"] {
	max-inline-size: 20rem;
}

.preview {
	flex: 1;
}

canvas {
	image-rendering: pixelated;
	inline-size: 100%;
}

#drop-zone {
	padding: 40px;
	border: 2px dashed var(--grey);
	text-align: center;
	cursor: pointer;

	&:hover {
		border-color: var(--blue);
	}
}
